# Ignore IntelliJ IDEA files and folders
*.idea
*.iml
*.ipr
*.iws
*.ids
*.log

conf

/out
/.gradle

# Ignore Eclipse files and folders
*.project
*.settings
*.classpath

# Ignore NetBeans files and folders
**/nbproject
**/nb-configuration.xml

# Ignore Maven files and folders
**/target

# Ignore DB folder
**/db

# Ignore logs
**/logs

**/Thumbs.db
/build/
/dist/

/gource/
/target/